<div fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="70">
    <mat-card>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="20px"
        class="stats-cards"
      >
        <mat-card fxFlex="50" class="mat-elevation-z4">
          <h3>GANANCIAS TOTALES</h3>
          <h2>S/. 12000</h2>
        </mat-card>
        <mat-card fxFlex="50" class="mat-elevation-z4">
          <h3>GANANCIAS MENSUAL</h3>
          <h2>S/. 120</h2>
        </mat-card>
      </div>
      <br />
      <br />
      <mat-card class="mat-elevation-z4">
        <app-spline></app-spline>
      </mat-card>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card>
      <app-pie></app-pie>
    </mat-card>
  </div>
</div>
