<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Marketplace</span>
    <span class="example-spacer"></span>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput />
      </mat-form-field>
    </form>
    <!-- <button mat-icon-button >
        <span matBadge="4"matBadgeOverlap="false" class="material-icons">
            shopping_cart
        </span>
    </button> -->
    <button mat-icon-button>
      <!--<span [matBadge]="total$ | async" class="material-icons">-->
      <span  matBadge="{{valor}}"  matBadgeOverlap="false" class="material-icons">
        <mat-icon routerLink="/clients/shoppingCart">shopping_cart</mat-icon>
      </span>
    </button>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-grid-list cols="3" rowHeight="3:3">
  <mat-grid-tile *ngFor="let products of productos">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="{{ products.imagen }}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-tittle>
        {{ products.nombre | uppercase }}
      </mat-card-tittle>
      <mat-card-content>
        <p>
          {{ products.descripcion }}
        </p>
        {{ products.precio | currency }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Ver detalle</button>
        <button  (click)="addCar(products)"   mat-raised-button color="primary">
          Agregar al carrito
        </button>
      </mat-card-actions>
    </mat-card>  
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
<!--  <footer>
         <div class="x" >
          <mat-card-subtitle>
            Copyright © Marketplace 2021
          </mat-card-subtitle>
         </div>
  </footer> -->
