.example-spacer {
  flex: 1 1 auto;
}
mat-grid-tile {

  background: white;
  text-align: center;
}
.example-card {
  max-width: 250px;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
mat-card {
  border-radius: 10px;
  border: 1px solid;
  border-color: gray;
}
.carrito{
  width: 40px;
}
.x {
  text-align: center;
}
