<!--<div class="container">-->
<div class="container">
    <form class="example-form">
        <mat-card style="text-align: center;">
            <mat-card-header>
                <mat-card-title>AGREGAR PRODUCTOS</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Product name</mat-label>
                        <input matInput name="description" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label> Description </mat-label>
                        <input matInput name="description" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" name="price" required pattern="[0-9]+">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Category</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let category of categories" [value]="category.value">
                                {{category.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>STOCK</mat-label>
                        <input matInput type="number" name="stock" required pattern="[0-9]+">
                    </mat-form-field>
                </div>
                <div class="example-full-width">
                    <mat-slide-toggle color = "primary">Product on offer</mat-slide-toggle>
                </div>  
                <button class="image-uploader">
                    <div>
                        <mat-icon> camera_enhance </mat-icon>
                        <br>
                        <a style="color:#3483fa">Agregar Foto</a>
                    </div>
                </button>
                <div style="overflow: hidden;">
                    <button mat-raised-button color="primary">Add product</button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>



