.container {
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
}

.example-full-width {
  width: 60%;
}

.example-card {
  margin: auto;
  width: 40%;
}

.title-center {
  margin-top: 20px;
  /*margin-top: 20px;
    margin-left:150px;*/
}

.example-form {
  width: 100%;
}

.centrado {
  padding: auto;
}

.image-uploader {
  margin: auto;
  width: 60%;
  border-width: 1.8px;
  border-style: dotted;
  border-color: #3483fa;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
