table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

img {
  width: 40px;
  border-radius: 10%;
  margin-right: 10px;
  border: solid gray 0.5px;
}

.mat-column-select {
  width: 7% !important;
}

.mat-column-nombre {
  width: 50% !important;
}

.mat-column-precio {
  width: 12% !important;
}

.mat-column-stock {
  width: 12% !important;
}

.mat-column-acciones {
  width: 19% !important;
}

.edit {
  color: gray;
}
