<div class="container-profile">
  <div class="container">
    <div class="container-inner">
      <h2 class="card-title">MIS DATOS</h2>
      <mat-card>
        <div class="card-item">
          <div class="card-item-title">
            <span>{{ dataItems[0].viewValue }}:</span>
          </div>
          <div class="card-item-value">
            <span>{{ perfil.userString }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[0].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-item">
          <div class="card-item-title">
            <span>{{ dataItems[1].viewValue }}:</span>
          </div>
          <div class="card-item-value">
            <span> {{ perfil.correo }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[1].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-item">
          <div class="card-item-title">
            <span>{{ dataItems[2].viewValue }}:</span>
          </div>
          <div class="card-item-value">
            <span> {{ perfil.nombre }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[2].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-item" fxLayout="row">
          <div class="card-item-title" fxFlex="30">
            <span>{{ dataItems[3].viewValue }}:</span>
          </div>
          <div class="card-item-value" fxFlex="40">
            <span> {{ perfil.apellido_paterno }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[3].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-item">
          <div class="card-item-title">
            <span>{{ dataItems[4].viewValue }}:</span>
          </div>
          <div class="card-item-value">
            <span> {{ perfil.apellido_materno }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[4].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-item">
          <div class="card-item-title">
            <span>{{ dataItems[5].viewValue }}:</span>
          </div>
          <div class="card-item-value">
            <span> {{ perfil.document }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[5].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="card-item">
          <div class="card-item-title">
            <span>{{ dataItems[6].viewValue }}:</span>
          </div>
          <div class="card-item-value">
            <span> {{ perfil.celular }}</span>
          </div>
          <div class="card-item-button" fxFlex>
            <button (click)="openDialog(dataItems[6].viewValue)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
